<h1> WELCOME TO HARRY POTTER QUIZ </h1>
 <h3> Enter your name to start the quiz! </h3>
 <br>
<form action='/questions' method='post' >
  <label for='username'>
    Name:
    <input type='text' name='name' >
  </label>
  <input type='submit' value='Start Quiz!'>
</form>
